<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="main">
        <div class="sidebar">
            <section class="sideBarCloseBtn sideBtn">X</section>
            <img src="MoonFang.png" alt="" class = "logo logo2">
            
            <section class = "sidebarsection">
                <a href="">SIGN UP</a>
                <a href="">SIGN IN</a>
                <a href="">CONTACT</a>
                <a href="">TEAM</a>
            </section>
        </div>
        <div class="maindisplay">
            <nav class="navbar n1">
                <section class="smallnavsec">
                    <img src="FangLogo.png" alt="" class = "logo logo1">
                </section>
                
                
                <section class="navsection">
                    
                        <a href="">DIABLO II</a>
                        <a href="">DIABLO III</a>
                        <a href="">DIABLO IV</a>
                        <a href="">FORUMS</a>
                    
                    
                </section>
                <section class="smallnavsec"></section>
                
            </nav>
            <nav class="navbar n2">
                <section class="smallnavsec">
                    <img src="openSide.png" alt="" class="sideBarBtn sideBtn"> </img>

                </section>
                
                <section class="navsection">
                    
                    <a href="">BEGINNER GUIDES</a>
                    <a href="">BUILD GUIDES</a>
                    <a href="">ITEMS</a>
                    

                </section>
                <section class="smallnavsec"></section>
            </nav>
            <section class="article">

            </section>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>